# Eat Safe, Love

## Notebook Set Up

In [ ]:
from pymongo import MongoClient
import pandas as pd
from pprint import pprint

In [ ]:
#1 Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [ ]:
#2 assign the uk_food database to a variable name
db = mongo['uk_food']

In [ ]:
#3 review the collections in our database

In [ ]:
#4 assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [ ]:
#5 Find the establishments with a hygiene score of 20
query =

#6 Use count_documents to display the number of documents in the result

#7 Display the first document in the results using pprint

In [ ]:
#8 Convert the result to a Pandas DataFrame

#9 Display the number of rows in the DataFrame

#10 Display the first 10 rows of the DataFrame

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [ ]:
#11 Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query =

#12 Use count_documents to display the number of documents in the result

#13 Display the first document in the results using pprint

In [ ]:
#14 Convert the result to a Pandas DataFrame

#15 Display the number of rows in the DataFrame

#16 Display the first 10 rows of the DataFrame

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [ ]:
#17 Search within 0.01 degree on either side of the latitude and longitude.
#18 Rating value must equal 5
#19 Sort by hygiene score

degree_search = 0.01
latitude =
longitude =

query =
sort =
limit =

#20 Print the results

In [ ]:
#21 Convert result to Pandas DataFrame

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [ ]:
#22 Create a pipeline that:
#23 1. Matches establishments with a hygiene score of 0
#24 2. Groups the matches by Local Authority
#25 3. Sorts the matches from highest to lowest

#26 Print the number of documents in the result

#27 Print the first 10 results

In [ ]:
#28 Convert the result to a Pandas DataFrame

#29 Display the number of rows in the DataFrame

#30 Display the first 10 rows of the DataFrame